.orderList-inventory {

  .orderList-inventory-individual {
    width:90%;
    margin: 0 auto;
    input {
      margin: 0em;
      padding: 0em;
    }

    textarea {
      height:100%;
      width:100%;
    }
    margin-bottom: 1em;
  }
}
